@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-malayalam);
  --font-serif: var(--font-noto-malayalam);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-malayalam), "Noto Serif Malayalam", serif;
}
